*{
    margin: 0%;
}

header{
    background-color: #AA7448;
    height: 16vh;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav img{
    height: 15vh;
    width: 10vw;
}

nav a{
    margin-top: 3%;
    font-size: 230%;
    text-decoration:none;
    color: white;
}

main{
    background-color: #F8e8CC;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6,16.67%);
    grid-template-rows: repeat(6,16.67%);
}

footer{
    background-color: #86BBD8;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer p{
   font-size: 260%;
}

img{
    width: 100px;
    height: 300px;
}

.box0{
    background-color: darkgrey;
    align-items: center;
}
.box1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
}

.box1 p{
    margin-top: 7%;
    font-size: 180%;
}

.box1 h3{
    margin-top: 3%;
    font-size: 230%;
}

.box2{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
}

.box2 div{
   height: 50vh;
}

.box2 img{
   height: 50vh;
}
.box3{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 7;
}
.box4{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}
.box5{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}  

.carousel{
    height: 10vh;
}

.entrar{
    margin-top: 2%;
    background-color: aliceblue;
    height: 4vh;
    width: 5vw;   
}

.entrar p{
    font-size: 150%;  
    margin-left: 20%;
}